<div class="page">
  <div class="details-header">
    <h1>{{ 'incidents.waitingAssignment' | translate }}</h1>
  </div>

  <div class="incidents-list">

<div class="incidents-filters">
    <div class="filter-row">
      <div class="filter-item search-bar">
        <label>{{'allIncidents.search' | translate}}</label>
        <input [(ngModel)]="searchTerm" (input)="onSearchChange()" type="text" placeholder="{{ 'allIncidents.hintSearch' | translate }}" />
        <i class="fas fa-spinner fa-spin search-icon" *ngIf="isLoading"></i>
        <i class="fas fa-search search-icon" *ngIf="!isLoading"></i>
      </div>

      <div class="filter-item">
        <label>{{ 'allIncidents.category' | translate }}</label>
        <select [(ngModel)]="selectedCategory" (change)="onFilterChange()">
          <option value="">{{'allIncidents.categorieTitle' | translate}}</option>
          <option *ngFor="let cat of categories" [value]="cat.value">{{categoryLabel(cat.value)}}</option>
        </select>
      </div>

      <div class="filter-item">
        <label>{{ 'allIncidents.sortBy' | translate }}</label>
        <select [(ngModel)]="sort" (change)="onFilterChange()">
            <option value="CreatedAt">{{'sortEnum.creationDate' | translate}}</option>
            <option value="Categories">{{'sortEnum.category' | translate}}</option>
            <option value="Status">{{'sortEnum.status' | translate}}</option>
            <option value="LikeCount">{{'sortEnum.like' | translate}}</option>
        </select>
      </div>

      <div class="filter-item">
        <label>{{'allIncidents.orderBy' | translate}}</label>
        <select [(ngModel)]="direction" (change)="onFilterChange()">
            <option value="asc">{{'orderEnum.asc' | translate}}</option>
            <option value="desc">{{'orderEnum.desc' | translate}}</option>
        </select>
      </div>
    </div>
  </div>

    <div
      *ngFor="let i of incidents"
      class="incident-card"
      [routerLink]="['/details', i.id]"
    >
      <div class="incident-content">
        <h3 class="incident-title">{{ i.title }}</h3>

        <div class="incident-meta">
          <div class="meta-item">
            <i class="fas fa-map-marker-alt meta-icon"></i>
            <span>{{ i.location }}<span *ngIf="i.quartier">, quartier {{ i.quartier }}</span></span>
          </div>

          <div class="meta-item">
            <i class="fas fa-tag meta-icon"></i>
            <span>{{ categoryLabel(i.category) }}</span>
          </div>

          <div class="meta-item">
            <i class="fas fa-clock meta-icon"></i>
            <span>{{ translateDate(i.createdDate) }}</span>
          </div>

          <div class="meta-item">
            <i class="fas fa-heart meta-icon"></i>
            <span>{{ i.likeCount }}</span>
          </div>
        </div>

        <div class="status-badge-container">
          <span
            class="status-badge"
            [ngClass]="'status-' + getStatusClass(i.status)"
          >
            {{ statusLabel(i.status) }}
          </span>
        </div>
      </div>

        <div class="incident-image">
            <img class="no-image" [src]="i.imageUrl" [alt]="i.title" />
        </div>
    </div>

    <div *ngIf="!incidents.length" class="empty-state">
      <i class="fas fa-clipboard-list empty-icon"></i>
      <h3>{{ 'incidents.noIncidentsAssignation' | translate }}</h3>
      <p>{{ 'incidents.allCaughtUp' | translate }}</p>
    </div>

    <div class="pagination-container">
      <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">{{'allIncidents.btnPrevious' | translate}}</button>
      <button *ngFor="let page of pagesArray" [class.active]="page === currentPage" (click)="goToPage(page)">{{ page }}</button>
      <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">{{'allIncidents.btnNext' | translate}}</button>
    </div>
  </div>
</div>
